@CHARSET "UTF-8";
.rowtop{
	height: 45px;
	line-height: 40px;
	border: 1px solid #dfdfdf;
	border-top:3px solid #35b306;
	padding-left: 15px;
	background-color: #f4f4f4;
}
/* news */
.news{
	width:100%;
	margin:1px auto;
	height:100%;
	overflow:hidden;
	position:relative;
	}
.news .list{
	width:920px;
	margin:0 20px;
	position:absolute;
	top:0;
	left:0;
	}
.news .list li{
	width:900px;
	padding:3px 0 3px 20px;
	background:url(../img/1.png) no-repeat center left;
	overflow:hidden;
	white-space:nowrap;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	}

.col-xs-5{
	margin-top: 20px;
}
.imgdiv{
	width: 100%;
	height:200px;
	/* border: 1px solid; */
}
.imgdiv img{
	width: 100%;
	border: transparent;
}



textarea{
	width: 100%;
}
.col-xs-7 form>span{
	display: block;
	margin-top: 5px;
}
p{
	text-align: center;
}
p span{
	display:inline-block;
	padding-top: 10px;
}
.col-xs-7 .left{
	width: 46%;
	float: left;
}
.col-xs-7 .right{
	width: 46%;
	float: right;
}
.a-upload {
   padding: 4px 10px;
    height: 30px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #35b306;
    background: #fafafa;
    border: 1px solid #35b306;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #35b306;
    background: #ccefc7;
    text-decoration: none
}