@CHARSET "UTF-8";
.row{
	margin-top: 10px;
}
.breadcrumb{
	margin: 0px;
	background: white;
}
.breadcrumb a{
	color: black;
	text-decoration: none;
} 
.detailrow{
	border-top:3px solid #35b306;

}
.rowtop{
	border-top:3px solid #35b306;
	background: #f4f4f4;
	width: 103%;
	height: 20px;
	margin-top: -5px;
}
.media{
	height:160px;
	padding-bottom:20px;
	/* padding-top:10px; */
	border-bottom: 1px dashed #dfdfdf;
	margin: 0px;
}
.media-object{
	width: 220px;
	height: 124px;
}
.media-body{
	padding-left: 20px;
}
.leftmedia{
	float:left;
	width: 65%;
	
}
.rightmedia{
	width: 35%;
	height:150px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;	
}
.rightmedia p.left{
	width: 50%;
	float: left;
	
}
.rightmedia p.right{
	width: 50%;
	float:right;
	
}
.progress{
	width: 80%;
	height: 10px;
}
.progress-bar{
	height: 10px;
}
.rightmedia button,.rightmedia a{
	width:100px;
}
.rightmedia .number{
	float: right;
	width: 20%;
	line-height:10px;
	font-size: 8px;
}